main {
  background-color: rgb(101, 100, 100);
  min-height: 100vh;
  min-width: 100%;
}

h1 {
  font-family: "Rampart One";
  font-size: 95px;
  margin-top: 0px;
  color: rgb(238, 252, 231);
  text-align: center;
}

#game-status {
  font-family: "Permanent Marker";
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgb(252, 190, 118);
}

#game-board {
  background-color: rgb(10, 62, 10);
  height: 900px;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 45px;

  border: 0.5rem outset rgb(20, 124, 20);
  border-radius: 25px;
}

table {
  border-collapse: separate;
  border-spacing: 24px;
}

.slot {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: 3px solid rgb(3, 34, 3);
}

#rules {
  margin-right: auto;
  width: 300px;
  font-size: 25px;
  font-family: "Permanent Marker";
}


td:hover {
  background-color: rgba(0, 0, 0, 0.434);
}

#reset-button {
  font-size: 20px;
  height: 45px;
  font-family: "Permanent Marker";
  background-color: black;
  color: white;
  margin: 25px;
  border: 4px outset lightslategray;
  border-radius: 15px;
}

.dark-mode {
  background-color: rgb(31, 30, 30);
  color: white;
}

#flex-row {
  display: flex;
  flex-wrap: wrap;
}

.toggle {
  font-size: 20px;
  height: 45px;
  font-family: "Permanent Marker";
  background-color: black;
  color: white;
  margin: 25px;
  border: 4px outset lightslategray;
  border-radius: 15px;
}

h3 {
  font-size: 45px;
  color: rgb(252, 190, 118)
}

