main {
  background-color: rgb(192, 192, 249);
}

#game-board {
  background-color: mediumblue;
  height: 900px;
  width: 1050px;
  margin: 0 auto;
}

table {
  border-collapse: separate;
  border-spacing: 26px;
}

.slot {
  height: 115px;
  width: 115px;
  background-color: mediumturquoise;
  border-radius: 50%;
  border: 2px solid black;
}

.flex-container {
  text-align: center;
}

